@model IEnumerable<MatiasProject.Models.Domain.Book>
@{
    string username = User.Identity.Name;
}

<div class="container pt-3">
    <div>
        Witaj, jesteś zalogowany jako @username
        <br /><br />
    </div>
    <div class="row">     
        <div class="col-md-12">
            <a class="btn btn-dark" href="/Book/Add">+ Dodaj kolejną książkę</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Książki</h1>

            <table class="table table-striped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Tytuł</th>
                        <th>Gatunek</th>
                        <th>Isbn</th>
                        <th>Liczba stron</th>
                        <th>Autor</th>
                        <th>Wydawnictwo</th>
                        @if (User.IsInRole("admin"))
                        {
                            <th>Akcja</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.GatunekName</td>
                            <td>@item.Isbn</td>
                            <td>@item.TotalPages</td>
                            <td>@item.NameAutor</td>
                            <td>@item.NameWydawnictwo</td>
                            @if (User.IsInRole("admin"))
                            {
                                <td>
                                    <a href="/Book/Update?id=@item.Id" class="btn btn-success"><i class="bi bi-pen"></i> Edytuj</a>
                                    <a href="/Book/Delete?id=@item.Id" class="btn btn-danger" onclick="return window.confirm('Czy chcesz usunąć ten rekord?')"><i class="bi bi-trash"></i> Usuń</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

